/.vscode
/WorldOfImagination/.vs
/WorldOfImagination/.idea
/WorldOfImagination/WorldOfImagination/bin
/WorldOfImagination/WorldOfImagination/obj
/WorldOfImagination/WorldOfImagination/Content/bin
/WorldOfImagination/WorldOfImagination/Content/obj
/WorldOfImagination/WorldOfImagination.Json/bin
/WorldOfImagination/WorldOfImagination.Json/obj
/WorldOfImagination/WorldOfImagination.Networking/bin
/WorldOfImagination/WorldOfImagination.Networking/obj
/WorldOfImagination/WorldOfImagination.Scripting/bin
/WorldOfImagination/WorldOfImagination.Scripting/obj
/WorldOfImagination/WorldOfImagination.Scripting.Exemple/bin
/WorldOfImagination/WorldOfImagination.Scripting.Exemple/obj
